@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

.Gothic {
  font-family: "Nanum Gothic", serif;
}
.Myeongjo {
  font-family: "Nanum Myeongjo", serif;
}
.king {
  font-weight: 900;
}

.윗화살표 {
  width: 9.2px;
  height: 9.2px;
  margin: 0 0 7.8px;
  background-color: #000;
}
.아래화살표 {
  width: 9.2px;
  height: 9.2px;
  margin: 7.8px 0 0;
  background-color: #000;
}
.제목 {
  width: 288px;
  height: 34px;
  margin: 0 48px 8px 24px;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: center;
  color: #333;
}
.모더 {
  width: 120px;
  height: 17px;
  margin: 8px 225px 20px 24px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  text-align: left;
  color: #999;
}

.모더 .이름 {
  font-weight: bold;
}

.모더한마디네모 {
  width: 312px;
  height: 120px;
  margin: 20px 24px 28px;

  background-color: #f8f8f8;
}

.모더한마디 {
  width: 95px;
  height: 15px;
  margin-left: 15px;
  margin-bottom: 90px;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #333;
}

.모더내용 {
  width: 265px;
  height: 60px;
  margin-left: 15px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #999;
}

.동영상 {
  width: 360px;
  height: 240px;
  margin: 28px 0 0;

  background-color: #000;
}

.영상요약보기 {
  width: 80px;
  height: 17px;
  margin-left: 24px;
  margin-top: 17px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  text-align: left;
  color: #333;
}

.접기버튼 {
  width: 10px;
  height: 1px;
  margin-left: 324px;
  margin-bottom: 24px;
  background-color: #333;
}

.요약창 {
  margin-bottom: 30px;
  width: 360px;
  height: 262px;

  background-color: #f8f8f8;
}

.반려인대표 {
  width: 54px;
  height: 15px;
  margin: 0 4px 6px 14px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #333;
}
.반려인대표설명 {
  width: 43px;
  height: 15px;
  margin: 0 120px 6px 4px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #999;
}
.반려인말풍선 {
  background-color: #e0def7;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 1px;
  margin-right: 5px;
}
.반려인말풍선내용 {
  width: 199px;
  height: 45px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #333;
}
.비반려인대표 {
  width: 64px;
  height: 15px;
  margin: 0 5px 6px 121px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #333;
}
.비반려인대표설명 {
  width: 31px;
  height: 15px;
  margin: 0 14px 6px 5px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #999;
}
.비반려인말풍선 {
  width: 235px;
  height: 87px;
  margin: 6px 0 0;
  padding: 14px 18px 13px 14px;
  background-color: #fff;
  border-radius: 15px;
  border-top-right-radius: 1px;
}
.비반려인말풍선내용 {
  width: 203px;
  height: 60px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #333;
}

.토론하기 {
  margin-top: 30px;
  margin-left: 24px;
  width: 55px;
  height: 19px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.16px;
  text-align: left;
  color: #333;
}
.여러분의의견을 {
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 30px;
  width: 200px;
  height: 17px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  text-align: left;
  color: #999;
}
.반려인 {
  margin-left: 72px;
  float: left;
  width: 48px;
  height: 17px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;

  color: #5f50ef;
}
.비반려인 {
  width: 48px;
  height: 17px;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;

  color: #999;
  margin-left: 138px;
}
.num1 {
  width: 360px;
  height: 17px;

  margin-left: 80px;
  font-family: NotoSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #999;
}
.num2 {
  width: 360px;
  height: 17px;
  margin-left: 160px;

  font-family: NotoSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #999;
}
.색버튼 {
  width: 180px;
  height: 2px;
  background-color: #5f50ef;
}
.무색버튼 {
  width: 360px;
  height: 1px;
  background-color: #d1d1d1;
}
.댓글매너공지 {
  width: 312px;
  height: 105px;
  padding: 17px 24px 18px 15px;
  background-color: #f8f8f8;
}
.올바른토의문화 {
  width: 312px;
  height: 30px;
  margin: 10px 0 0;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #333;
}
.토의참여자들은 {
  width: 256px;
  height: 30px;
  margin: 0 17px 10px 0;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #999;
}
.본인댓글프로필 {
  width: 35px;
  height: 35px;
  margin-top: 32px;
  margin-left: 24px;
  background-color: #dbdbdb;
  border-radius: 50px;
}
.댓글빈칸 {
  margin-left: 50px;
  margin-top: 30px;
  width: 264px;
  height: 38px;
  border-radius: 5px;
  border: solid 1px #d1d1d1;
  background-color: #fff;
}
.reply {
  margin-left: 50px;
  margin-top: 30px;
  width: 264px;
  border-radius: 5px;
  border: solid 1px #d1d1d1;
  background-color: #fff;
}

.foot {
  margin-left: 50px;
  margin-top: 30px;
  width: 264px;
  border-radius: 5px;
  border: solid 1px #000000;
  background-color: rgb(255, 255, 255);
}

.의견을 {
  width: 95px;
  height: 15px;
  margin-left: 13px;
  margin-top: 20px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;

  color: #999;
}
.등록 {
  width: 21px;
  height: 15px;
  margin-top: 11px;
  opacity: 0.5;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;

  color: #5f50ef;
}

.댓글1 {
  width: 264px;
  height: 68px;
  margin: 1px 0 10px 13px;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;
  text-align: left;
  color: #333;
}
.좋아요 {
  width: 11px;
  height: 9.6px;
  margin: 14px 4px 16.4px 14px;
  background-color: #5f50ef;
}

.답글입력 {
  width: 44px;
  height: 15px;
  margin: 0 198px 4px 4px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #999;
}
.답글취소동그라미 {
  width: 44px;
  height: 15px;
  margin: 0 198px 4px 4px;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.12px;
  text-align: left;
  color: #999;
}
.답글취소동그라미엑스 {
  width: 6px;
  height: 6px;
  background-color: #fff;
}
.답글입력란 {
  width: 264px;
  height: 1px;
  margin: 4px 0 0;
  background-color: #d1d1d1;
}

.red {
  background-color: rgba(72, 88, 233, 0.788);
}

.container_nrib {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
  /* display: inline-flex; */
}
