@font-face {
  font-family: "SBAggroM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.inner_box {
  margin-left: 20%;
  margin-right: 20%;
}

.buttons {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.tline {
  height: 60px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #eceaea49;
  box-shadow: 0px 5px 6px #00000029;
  border: 0.5px solid #ebebeb;
  border-radius: 33px;
  text-align: center;
  display: block;
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 1;
  font-family: "Noto Sans KR", sans-serif;
}

.fas {
  color: #0080ff;
  margin-top: 5px;
  margin-left: 300px;
  font-size: 15px;
}

.talks {
  color: #0080ff;
}

h1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 25px;
  font-family: "Noto Sans KR", sans-serif;
}

.k1 {
  font-size: 15px;
  text-align: center;
  letter-spacing: -0.15px;
  color: #999999;
  font-family: "Noto Sans KR", sans-serif;
}
.k2 {
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.15px;
  color: #999999;
  font-family: "Noto Sans KR", sans-serif;
}

.k3 {
  font-size: 20px;
  text-align: center;
  letter-spacing: -0.15px;
  color: #999999;
  font-family: "Noto Sans KR", sans-serif;
}

h4 {
  font-size: 20px;
  text-align: center;

  color: #999999;
  margin-bottom: 20px;
  font-family: "Noto Sans KR", sans-serif;
}

.title {
  font-size: 35px;
  text-align: center;
  font-family: "SBAggroM";
  margin-top: 10px;
  margin-bottom: 10px;
}

.cont {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 80px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 8px 8px #00000008;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  opacity: 1;
  color: black;
  scroll-padding-top: 20px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
  font-family: "Noto Sans KR", sans-serif;
}

.qmark {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px dashed #d1d1d1;
  border-radius: 8px;
  opacity: 1;
  height: 80px;
  font-size: 25px;
  text-align: center;
  display: block;
  color: #999999;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 20px;
  width: 90%;
}

.suggesto {
  height: 60px;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 15px;
  background: #0080ff 0% 0% no-repeat padding-box;
  border-radius: 60px;
  opacity: 1;
  color: white;
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: "Noto Sans KR", sans-serif;
}

.logos {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
