@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*   background: rgb(243, 243, 243); */
.custom_form {
  width: 90%;
  margin: 0;
  margin-block-end: 0;
}
.Gothic {
  font-family: "Nanum Gothic", serif;
}
.Myeongjo {
  font-family: "GmarketSansMedium";
}

.Sans {
  font-family: "Noto Sans KR", sans-serif;
}

.discuss-title {
  font-weight: 600;
  margin-top: 10px;
  margin-left: 30px;
  color: #000;
  font-size: 34px;
  font-family: "Noto Sans KR", sans-serif;
}

.discuss-title-moder {
  margin-top: 15px;
  margin-left: 30px;
  color: rgba(95, 95, 95, 0.87);
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
}

.discuss-title-comment {
  background-color: rgb(243, 243, 243);
  margin-top: 15px;
  margin-left: 30px;
  padding: 20px;
  width: 90%;
  color: #000000;
  font-size: 15px;
  font-weight: 800;
  font-family: "Nanum Gothic", serif;
}
.discuss-title-comment-inner {
  margin-top: 10px;
  color: rgb(95, 95, 95, 0.87);
  font-size: 14px;
  font-weight: 600;
  font-family: "Nanum Gothic", serif;
}

.youtube {
  margin-top: 30px;
}
.balloon {
  font-weight: 600;
  font-size: 13;
  position: relative;
  margin-top: 5px;
  padding: 20px 20px 20px 20px;
  width: 100%;
  background: rgb(243, 243, 243);
  border-radius: 10px;
}
.balloon-invisible {
  color: rgb(243, 243, 243);
}
.balloon_02 {
  background: #ffffff;
}

.balloon_02:after {
  content: "";
  position: absolute;
  top: 10px;
  right: -15px;
  border-top: 15px solid #ffffff;
  border-right: 15px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 0px solid transparent;
}

.balloon_03 {
  background: #b3acec;
}

.balloon_03:after {
  content: "";
  position: absolute;
  top: 10px;
  left: -15px;
  border-top: 15px solid #b3acec;
  border-left: 15px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 0px solid transparent;
}
.talker,
.talker_r {
  font-size: 14px;
}
.talker_r {
  text-align: right;
}
/* 탭 전체 스타일 */
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
}

/* 탭 스타일 */
.tab_item {
  width: calc(100% / 2);
  height: 60px;
  border-bottom: 1px solid #757575;
  background-color: #ffffff;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  color: #a5a5a5;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  padding: 20px 20px 0;
  clear: both;
  overflow: hidden;
}

/* 선택 된 탭 콘텐츠를 표시 */
#a_diss:checked ~ #a_content,
#b_diss:checked ~ #b_content {
  display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item {
  background-color: #ffffff;
  border-bottom: 2px solid rgba(84, 54, 219, 0.87);
  color: rgba(84, 54, 219, 0.87);
}

.agree-num {
  line-height: 5px;
  font-size: 12px;
  color: #a5a5a5;
}

.agree-num input:checked {
  line-height: 0px;
  font-size: 12px;
  color: #8a8a8a;
}

.discuss-notice {
  text-align: center;
  padding: 20px 20px 20px 20px;
  background: rgb(243, 243, 243);
  width: 100%;
  color: #8a8a8a;
  font-weight: 600;
  font-size: 13px;
}

.discuss-notice-text {
  margin-top: 10px;
  font-size: 12px;
  color: black;
}

.d-sub {
  color: rgba(84, 54, 219, 0.87);
  font-weight: 600;
  position: absolute;
  right: 2%;
  top: 15%;
  border: 0;
  background-color: #fff;
}
.d-sub:hover {
  color: rgba(103, 68, 255, 0.87);
}

.diss-reply {
  color: black;
  margin: 40px 0px 0px 0px;
}

.pd-0 {
  padding-left: 0;
}

.diss-reply-comment {
  font-family: "Nanum Gothic";
  font-weight: 500;
  font-size: 14px;
  padding-top: 5px;
}

.diss-like {
  color: rgba(84, 54, 219, 0.87);
}

.diss-like:hover {
  color: rgba(103, 68, 255, 0.87);
}

.diss-tool {
  position: relative;
  margin-top: 5px;
}
.reply-btn {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  position: relative;
  border: 0;
  font-size: 14px;
}
.report-btn {
  color: rgba(95, 95, 95, 0.87);
  font-weight: 500;
  position: relative;
  left: 83%;
  border: 0;
  font-size: 14px;
}

.report-rereply {
  color: rgba(95, 95, 95, 0.87);
  font-weight: 500;
  position: relative;
  left: 105%;
  border: 0;
  font-size: 14px;
}
.re-reply-input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(95, 95, 95, 0.87);
  margin-bottom: 20px;
}

.re-reply-box {
  font-size: 13px;
  position: relative;
  margin-left: 30px;
}

.re-reply-btn {
  color: rgba(95, 95, 95, 0.87);
  font-weight: 600;
  position: absolute;
  font-size: 13px;
  left: 90%;
  bottom: 53%;
  background-color: #fff;
}
.re-reply-input:focus {
  outline: 0;
}
