{% load static %}


<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}" />
  {% block css %}{% endblock css %}

  <title></title>
</head>

<body>
  {% comment "" %}{% include "navbar.html" %}{% endcomment %}

  {% block content %}{% endblock %}

  {% block js %}{% endblock js %}
  <!-- jQuery JS -->
  <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
  <!-- Bootstrap JS-->
  <script src="{% static 'bootstrap.min.js' %}"></script>

</body>