{% extends 'base.html' %}
{% block content %}
<body style="background-color:#fff;background-image:None;">
fuck
<div class="postion-relative">
  <div class="position-absolute top-50 start-50">
<button type="button" class="btn btn-primary">Primary</button>
	<p class="bg-primary center-block" style="width: 500px;padding:15px;">가운데 정렬하기</p>
    <div class="윗화살표"></div>
    <div class="아래화살표"></div>
    <span class="제목">
        왜 저 개는 입마개를 안하죠?
      </span>

      <div class="모더">
        모더레이터
        <span class="이름">노브레인</span>
      </div>  

    <div class="모더한마디네모"><span class="모더한마디">모더레이터의 한마디
    </span>
    <div class="모더내용">*동물보호법(조 ) 에 의하여 현재 맹견의 종은 ( , , ,)로 
        지정되어있습니다.  
      *맹견의 범위 확장과 관련하여 토의를 진행하겠습니다.   
      * 주장 관련 자료에는 반드시 출처를 밝힙니다. (댓글
    </div></div>
    <div class="동영상"></div>
    <div class="영상요약보기">
        영상 요약보기
        <div class="접기버튼"></div>
    </div>
      <div class="요약창">
        <span class="반려인대표">
            반려인 대표
          </span>
          <span class="반려인대표설명">
            변호사12
          </span>  
          <div class="반려인말풍선"><span class="반려인말풍선내용">
            맹견의 범위가 확대되어 맹견으로 취급되는 
          애완견일 경우에 관련 법 조항에 의해서 
          견주들의 책임 의무가 너무 많아 집니다.
          </span></div>
          <span class="비반려인대표">
            비반려인 대표
            <span class="비반려인대표설명">
              대학생
            </span>  
          </span>
          <div class="비반려인말풍선"><span class="비반려인말풍선내용">
            소방청에 따르면, 5년 간 개 물림 사고가 
            12,345건 발생. 하지만 이 중 맹견을 제외한 
            일반 반려견 건수가 전체의 80% 였습니다.  
            따라서 맹견의 범위 확대에 찬성합니다.

          </span></div>
        
      </div>
      <span class="토론하기">
        토론하기
      </span>
      <div class="여러분의의견을">
        여러분의 의견을 들려주세요
      </div>
      
        <span class="반려인">반려인</span>
        <span class="비반려인">비반려인</span>
        <div class="num1">320<span class="num2">280</span></div>

    <div class="색버튼"></div>
    <div class="무색버튼"></div>
    <div class="댓글매너공지"><span class="토의참여자들은">
        토의 참여자들은 여러분의 생각이 담긴 댓글을 참고하여 
      토의를 진행합니다.
      </span>
      <div class="올바른토의문화">
        * 올바른 토의문화를 위해 각 번호의 의견과 무관한 댓글 
      (정치, 인신공격 등)에 있어 바로 삭제 조치가 이루어집니다.
      </div>
    </div>

      <div class="본인댓글프로필">
          <div class="댓글빈칸">
              <span class="의견을">의견을 들려주세요 :)</span>
              <span class="등록">등록</span>
            </div>
       
      </div>

      <div class="본인댓글프로필"></div> 
      <span class=슈퍼맨>슈퍼맨</span>
      <div class="댓글1">소방청에 따르면 , 5년 간 개 물림 사고가 
        12,345건 발생. 하지만 이 중 맹견을 제외한 일반  
        반려견 건수가 전체의 80% 였습니다.  따라서 
        맹견의 범위 확대에 찬성합니다. </div>
        <div class="좋아요 좋아요수">&#9829</div>
        <span class="좋아요수">20</span>
        <span class="답글">답글&ensp;&ensp;2</span>
        <span class="신고버튼">신고</span>   
        <div class="답글입력">
            답글 입력
            <div class="답글취소동그라미엑스"></div>
            <div class="답글취소동그라미"></div>
        </div>
        <div class="답글입력란"></div>
        
        <i class="fa fa-heart fa-spin fa-fw"></i>
        </div>
        </div>
<div class="position-relative">
  <div class="position-absolute top-0 start-0"></div>
  <div class="position-absolute top-0 end-0"></div>
  <div class="position-absolute top-50 start-50"></div>
  <div class="position-absolute bottom-50 end-50"></div>
  <div class="position-absolute bottom-0 start-0"></div>
  <div class="position-absolute bottom-0 end-0"></div>
</div>
</body>
{% endblock content %}