{% extends 'base.html' %} {% load static template_filters  %}

{% block css %}
<link rel="stylesheet" href="{% static 'nrib_choicecss.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
{% endblock css %}
{% block content %}

<div class="container row" style="float: none; margin:0 auto; padding:0; ">
    <div class="col-md-3" style="width:500px;float: none; margin:0 auto; padding:0;background-color:#fff;">

        <div class="k1"><br>NRIB X 서울시 디자인 거버넌스</div>
        <div class="title">{{ topic|linebreaks }}</div>
        <h1> 현재 <span style="color: #0080ff;">{{sum_reply}}</span> 분 참여 중 </h1>
        <div>
            <img src="{{topic.image}}" style="width:100%">
        </div>
        <div class=" k2"><br> 팩트를 시간순서로 정리한 <br></div>

        <a href="{% url 'pybo:timeline' topic.id %}">
            <div class="tline buttons" type="button">타임라인 열기</div>

            <div class="k3"><br> 원하시는 대화방에 입장해주세요 <br><br></div>

            {{issue_list.subject}}
            {% for issue in issue_list %}

            <div class="wrap">
                <a href="{% url 'pybo:discuss' issue.id %}">
                    <div class="cont buttons">{{issue.subject}}<br>
                        <i class="fas fa-comment"><span
                                style="color: #999999;">&nbsp;{{reply_num|get_item:issue}}</span>
                        </i>
                    </div>
                </a>
            </div>
            {% endfor %}


            <i class="fa fa-ellipsis-v" style=" color:#dbdbdb; font-size:40px; margin-right:50%; margin-left: 49%;
        -webkit-text-stroke: 5px white;">
            </i>

            <div class="qmark buttons">?</div>

            <h4>추가로 대화하고 싶은 주제가 있다면<br>직접 제안해 주세요! </h4>
            <div class="suggesto buttons">제안하기</div>

            <br>
            <br>
            <div class="logos">
                <img src="{% static 'pic/kcc.jpg' %}" height=37>
                <img src="{% static 'pic/nia.png' %}" height=50>
            </div>
    </div>
</div>
{% endblock content %}