{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

{% endblock css %}

{% block js %}
<script src="{% static 'timeline.js' %}"></script>
{% endblock js %}

{% block content %}


<div class="time_container">
  <div class="top-section Myeongjo">
    <h1>당신의 중립을 위한 재료</h1>
  </div>

  <div class="timeline">
    <div class="line"></div>

    {% for question in question_list %}
    {% if question.side == False %}
    <div class="section time-right">
      <div class="bead"></div>
      <div class="content text-align-left">
        <p class="date">{{ question.create_date }}</p>
        <p></p>
        <h2 class="Myeongjo">{{ question.subject}}</h2>
        <p>{{ question.content }}</p>
      </div>
      {% elif question.side == True %}
      <div class="section">
        <div class="bead"></div>
        <div class="content text-align-right">
          <p class="date">{{ question.create_date }}</p>
          <p></p>
          <h2 class="Myeongjo">{{ question.subject}}</h2>
          <p>{{ question.content }}</p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}